$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("64H.jpg");
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: white;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-metadata {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}