$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("64H.jpg");
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: white;
}

.article-actions {
border-top: 1px solid #eaeaea;
padding-top: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}